Simple-Linear-Regresion/.idea
Simple-Linear-Regresion/.idea/.idea.Simple-Linear-Regresion/.idea
Simple-Linear-Regresion/.idea/.idea.Simple-Linear-Regresion/.idea/.gitignore
Simple-Linear-Regresion/.idea/.idea.Simple-Linear-Regresion/.idea/encodings.xml
Simple-Linear-Regresion/.idea/.idea.Simple-Linear-Regresion/.idea/indexLayout.xml
Simple-Linear-Regresion/bin/Debug/net8.0
Simple-Linear-Regresion/obj
obj
obj
obj
.idea
bin/Debug/net8.0
